<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find 7260501-000000-001 TB6-R5-RevA1-urdf)/urdf/7260501-000000-001 TB6-R5-RevA1-urdf.urdf" />
  <node
    name="joint_state_publisher_gui"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find 7260501-000000-001 TB6-R5-RevA1-urdf)/urdf.rviz" />
</launch>